<app-overlay [title]="title"></app-overlay>
<div class="contact">
    <div class="row">
        <div class="col-md-8">
            <app-message-form></app-message-form>
        </div>
        <div class="col-md-4">
            <div id="info-details">
                <h2 class="h4">Contact Information</h2>

                <div class="info">
                    <p><span>Address:</span> <span class="details"> 198 West 21th Street, Suite 721 New York NY
                            10016</span></p>
                </div>
                <div class="info">
                    <p><span>Phone:</span><span class="details"> + 1235 2355 98</span></p>
                </div>
                <div class="info">
                    <p><span>Email:</span><span class="details"> info@yoursite.com</span></p>
                </div>
                <div class="info">
                    <p><span>Website:</span><span class="details"> yoursite.com</span></p>
                </div>
            </div>

        </div>
    </div>

</div>
<app-info-panel></app-info-panel>