<section class="ftco-intro">
    <div class="container-wrap">
        <div class="row">
            <div class="col-md-8 info">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <h3>000 (123) 456 7890</h3>
                            <p>A small river named Duden <br>flows</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <h3>198 West 21th Street</h3>
                            <p>Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon"><span class="icon-clock-o"></span></div>
                        <div class="text">
                            <h3>Open Monday-Friday</h3>
                            <p>8:00am - 9:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 social">
                <ul class="social-icon">
                    <li class="ftco-animate"><span class="icon-twitter"></span></li>
                    <li class="ftco-animate"><span class="icon-facebook"></span></li>
                    <li class="ftco-animate"><span class="icon-instagram"></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>