<carousel id="maincarousel">
    <slide>
        <img class="slideimg" src="assets/images/bg_6.jpg" alt="first slide">
        <div class="carousel-caption d-none d-md-block">
            <div class="row">
                <div class="col-md-6 d">
                    <span class="subheading">Delicious</span>
                    <h1>Italian Cuizine</h1>
                    <p class="description">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p><a class="btn btn-primary  p-3 px-xl-4 py-xl-3" (click)="orderItalianPizza()">Order Now</a>
                        <a routerLink="/menu" class="btn btn-primary  p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 i">
                    <img class="otherimg" src="assets/images/bg_1.png" alt="">
                </div>
            </div>
        </div>

    </slide>

    <slide>
        <img class="slideimg" src="assets/images/bg_5.jpg" alt="first slide">
        <div class="carousel-caption d-none d-md-block">
            <div class="row">
                <div class="col-md-6 i">
                    <img class="otherimg" src="assets/images/bg_2.png" alt="">
                </div>
                <div class="col-md-6 d">
                    <span class="subheading">Crunchy</span>
                    <h1>Italian Pizza</h1>
                    <p class="description1">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p><a class="btn btn-primary  p-3 px-xl-4 py-xl-3" (click)="orderItalianPizza()">Order Now</a> <a
                            routerLink="/menu" class="btn btn-primary  p-3 px-xl-4 py-xl-3">View Menu</a></p>

                </div>
            </div>
        </div>

    </slide>
    <slide>
        <img class="slideimg" src="assets/images/bg_7.jpg" alt="third slide">
        <div class="carousel-caption d-none d-md-block">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
                <span class="subheading">Welcome</span>
                <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                    necessary regelialia.</p>
                <p><a class="btn btn-primary p-3 px-xl-4 py-xl-3" (click)="orderItalianPizza()">Order Now</a>
                    <a routerLink="/menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">View Menu</a></p>
            </div>
        </div>
    </slide>
</carousel>