.container-fluid {
    padding: 0;
}
.navbar {
    position:relative;
    display:flex;
    align-items: center;
     padding-bottom: 16px;
    padding-top: 16px;
}
.ftco-navbar-light {
    background: #121618 !important;
    z-index: 3;
}

.ftco-navbar-light .navbar-brand {
    color: #fff;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size:26px;
    line-height:1;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
     color: #fac564; 
}

.navbar-brand span {
    font-size: 26px;
    color: #fac564;
    padding-top:3px;

}

.flaticon-pizza:before {
    content: "\f101";
}

.navbar-brand small {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
    color: #fac564;
    letter-spacing: 4px;
    font-weight: 400;
}

li.nav-item {
    padding:0 12px;
    font-size:15px;
}

.navbar-dark .navbar-nav .nav-link.active
 {
     color: #fac564; 
}
i.fas.fa-shopping-cart{
    color: white;
}
.cart {
    color:white;
    border: none;
    background: none;
}